<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/opportunity.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    
    <title>Hamburger Navbar</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <img src="../public/logo.jpg" alt="logo" width="90px" height="60px">
            <!-- <iframe src='https://my.spline.design/daftpunkcopy-20ba7c63add0071856a77388dc3d262a/' frameborder='0' width='90px' height='60px'></iframe> -->
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/volunteer" class="nav-link">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a href="/courses" class="nav-link">Courses</a>
                </li>
                <li class="nav-item">
                    <a href="/opportunity" class="nav-link">Opportunities</a>
                </li>
                <li class="nav-item">
                    <a href="/team" class="nav-link">Our Team</a>
                </li>
                <li class="nav-item">
                    <a style="margin-right: 60px;" href="/admin" class="nav-link">Admin</a>
                </li>
                
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section style="background-image: url('https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80'); " id="home"> 
        <h2 style="font-size: 30px;" >Enhance Your Future</h2>
        <p>The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education.</p>
        <br>
        <p>Martin Luther King, Jr.</p>
        <div class="btn">
            <a class="blue" href="/coursesearch"> Search for Courses</a>
            <a class="yellow" href="/videoconvertor"> Video Convertor</a>
        </div>
    </section>
<br>

        <div class="categories">
            <!-- <h1 > <marquee behavior="slide" direction="right"><center style="font-size: 50px">COURSES</center></marquee>  </h1> -->
              <h1 style="font-size: 50px" align="center">COURSES</h1>
            <hr>
            <br><br><br>
            
            

               
            <!-- <hr> -->
            <span style="font-size: 25px">1.</span>
            <a style="font-size: 25px" href="https://www.tutordoctor.co.uk/blog/2022/march/5-educational-youtube-channels-for-primary-schoo/">PRIMARY EDUCATION COURSE</a>
            <BR></BR>
            <img src="../public/images/primary.jpeg" alt="">
            
            <BR>
            <span style="font-size: 25px">2.</span>
            <a style="font-size: 25px" href="https://www.tutordoctor.co.uk/blog/2022/may/5-educational-youtube-channels-for-secondary-sch/">SECONDARY EDUCATION COURSE</a>
            <BR></BR>
            <img src="../public/images/secondary.jpeg" alt="">
            
            <BR>
            <span style="font-size: 25px">3.</span>
            <a style="font-size: 25px" href="https://aimseducation.edu/blog/7-medical-youtube-channels">HIGHER EDUCATION (MEDICAL)</a>
            <BR></BR>
            <img src="../public/images/medical.jpeg" alt="">
            
            <BR>
            <span style="font-size: 25px">4.</span>
            <a style="font-size: 25px" href="https://www.youtube.com/channel/UCsuzMtq1XIFtF4EfFlFxP6A">HIGHER EDUCATION (COMMERCE)</a>
            <BR></BR>
            <img src="../public/images/commerce.jpeg" alt="">
            
            <BR>
            <span style="font-size: 25px">4.</span>
            <a style="font-size: 25px" href="https://www.youtube.com/channel/UC99bgsOn-TCFCCN6tWaS8xA">HIGHER EDUCATION (HUMANITIES)</a>
            <BR></BR>
            <img src="../public/images/upsc.jpeg" alt="">
            
            <BR>
            <span style="font-size: 25px">4.</span>
            <a style="font-size: 25px" href="https://www.youtube.com/channel/UClaQJq84XMtMkL44zDmL-Tg">HIGHER EDUCATION (NON-MEDICAL)</a>
            <BR></BR>
            <img src="../public/images/engineering .jpeg" alt="">
            <!-- <hr> -->
            <!-- <a href="#">web development</a> -->
            <!-- <hr> -->
        </div>
        <br><br>


    </section>

    <!-- <div id="search">
        <h2>My search</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Type in a name">

<ul id="myUL">
<li><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a></li>
<li><a href="https://www.python.org/doc/essays/blurb/">What is Python ?</a></li>
<li><a href="https://www.python.org/about/apps/">What is Python used for</a></li>
<li><a href="https://www.codecademy.com/catalog/language/python">What is Python course?</a></li>

<li><a href="https://www.python.org/doc/essays/blurb/">What is python programming?</a></li>
<li><a href="https://www.python.org/about/apps/">Why is python used ?</a></li>
<li><a href="https://www.python.org/downloads/">How to download python</a></li>
<li><a href="https://python-course.eu/python-tutorial/execute-a-script.php#:~:text=Python%20code%20is%20translated%20into,Java%20Virtual%20Machine%20(JVM).">How python code is executed</a></li>
<li><a href="https://www.tutordoctor.co.uk/blog/2022/march/5-educational-youtube-channels-for-primary-schoo/ ">Primary School Students course</a></li>
<li><a href="https://www.tutordoctor.co.uk/blog/2022/may/5-educational-youtube-channels-for-secondary-sch/">Secondary School Students courses</a></li>
<li><a href="https://aimseducation.edu/blog/7-medical-youtube-channels"> Medical courses</a></li>
<li><a href="https://www.youtube.com/channel/UCsuzMtq1XIFtF4EfFlFxP6A"> Commerce courses</a></li>
<li><a href="https://www.youtube.com/channel/UC99bgsOn-TCFCCN6tWaS8xA"> Humanities courses</a></li>
<li><a href="https://en.wikipedia.org/wiki/C_(programming_language)">What is C ?</a></li>
<li><a href="https://en.wikipedia.org/wiki/C_(programming_language)"> What is C used for?</a></li>
<li><a href="https://www.edx.org/learn/c-programming#:~:text=A%20low%2Dlevel%20procedural%20language,computer%20programming%20languages%20like%20Python">What is C course?</a></li>
<li><a href="https://en.wikipedia.org/wiki/C_(programming_language)"> Why is C used for?</a></li>
<li><a href="https://www.javatpoint.com/how-to-install-c"> How to download C?</a></li>
<li><a href="https://www.javatpoint.com/how-to-install-c">How C code is executed?</a></li>
<li><a href="https://www.w3schools.com/cpp/cpp_intro.asp"> What is C++ ?</a></li>
<li><a href="https://www.w3schools.com/cpp/cpp_intro.asp">What is C++ used for?</a></li>
<li><a href="https://www.w3schools.com/cpp/cpp_intro.asp"> What is C++ course?</a></li>
<li><a href="https://www.w3schools.com/cpp/cpp_intro.asp"> Why is C++ used for?</a></li>
<li><a href="https://www.javatpoint.com/cpp-installation"> How to download C++?</a></li>
<li><a href="https://sites.google.com/site/assignmentssolved/mca/semester2/mc0066/13"> How C++ code is executed?</a></li>
<li><a href="https://www.javatpoint.com/cpp-installation">Difference between C and C++</a></li>
<li><a href="https://www.java.com/en/download/help/whatis_java.html">What is JAVA ?</a></li>
<li><a href="https://www.java.com/en/download/help/whatis_java.html">Why is JAVA used for?</a></li>
<li><a href="https://www.simplilearn.com/tutorials/java-tutorial/what-is-java">What is JAVA course?</a></li>
<li><a href="https://support.microsoft.com/en-us/windows/install-java-in-internet-explorer-e9fde175-f750-2902-d6da-a97a83587856">How to download JAVA?</a></li>
<li><a href="https://en.wikipedia.org/wiki/HTML">What is HTML ?</a></li>
<li><a href="https://www.w3.org/standards/webdesign/htmlcss#:~:text=HTML%20is%20the%20language%20for,the%20click%20of%20a%20button.">Why is HTML used for?</a></li>
<li><a href="https://www.coursera.org/courses?query=html,%20css%20and%20javascript">What is HTML ,CSS ,JS course?</a></li>
<li><a href="https://winbuzzer.com/2021/04/21/how-to-download-a-webpage-as-html-in-chrome-xcxwbt/">How to download HTML?</a></li>
<li><a href="https://en.wikipedia.org/wiki/CSS">What is CSS ?</a></li>
<li><a href="https://www.w3.org/standards/webdesign/htmlcss#:~:text=HTML%20is%20the%20language%20for,the%20click%20of%20a%20button.">Why is CSS used for?</a></li>
<li><a href="https://www.ibm.com/docs/en/sim/7.0.1.13?topic=center-downloading-samplecss-file">How to download CSS?</a></li>
<li><a href="https://en.wikipedia.org/wiki/JavaScript">What is JS ?</a></li>
<li><a href="https://generalassemb.ly/blog/what-is-a-javascript-library/">What are JS libraries?</a></li>
<li><a href="https://www.lighthouselabs.ca/en/blog/what-is-javascript-used-for#:~:text=Javascript%20is%20used%20by%20programmers,by%2097.0%25%20of%20all%20websites.">Why is JS used for?</a></li>
<li><a href="https://forum.freecodecamp.org/t/javascript-where-to-download/166022">How to download JS?</a></li>
<li><a href="https://www.investopedia.com/terms/b/blockchain.asp">What is BLOCKCHAIN ?</a></li>
<li><a href="https://www.simplilearn.com/blockchain-programming-languages-article">Which language is used in blockchain development ?</a></li>
<li><a href="https://www.techtarget.com/searchapparchitecture/definition/user-interface-UI">What is UI ?</a></li>
<li><a href="https://en.wikipedia.org/wiki/User_experience">What is UX ?</a></li>
<li><a href="https://maze.co/blog/ui-vs-ux/">Difference between UI and UX ?</a></li>
<li><a href="https://www.henryharvin.com/ppc3/blockchain-certification-training?utm_source=google&utm_medium=cpc&utm_campaign=blockchain_search&gclid=Cj0KCQjwidSWBhDdARIsAIoTVb10i-5xVLUfn-3jTb4ebwWb520aH3i966f6TZpfv-zQgadhoeXVm64aAjxwEALw_wcB">BLOCKCHAIN COURSES</a></li>
<li><a href="https://www.coursera.org/articles/ui-vs-ux-design">UI/UX COURSES</a></li>
<li><a href="https://en.wikipedia.org/wiki/Non-fungible_token">What is NFT?</a></li>
<li><a href="https://zipmex.com/learn/nft-marketplace/">Where to sell/buy NFT?</a></li>

</ul>
    </div> -->


 <!-- Home -->
 <!-- <section id = " blog - container " >
    <div class = "blogs blogpost" >
    <div class = " post " >
    <img src = "image.jpeg" alt = " " >
    <h3 > Learn Web Development In The Easiest way </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit .
        Exercitationem eligendi laudantium iure dicta eaque , veritatis rem
        similique , sapiente magni dolorem doloribus quibusdam molestiae alias
        officiis cum . Tenetur omnis quos harum .
        <br> <br> Lorem ipsum dolor , sit amet consectetur adipisicing elit .
        Dolores deserunt officiis esse inventore sequi autem . Adipisci sed
        minus quia , delectus dolorem fugiat modi fuga quis deleniti quidem
        optio , veritatis accusamus deserunt
        ducimus rerum commodi sit magnam blanditiis aut neque dicta error
        veniam quos . Quo aliquid eligendi suscipit debitis nemo laboriosam
        quod consequatur beatae dicta odit ? Asperiores , quibusdam earum
        deserunt , et dignissimos soluta quasi
        saepe vitae veritatis , illum iusto perspiciatis pariatur . Corrupti
        veritatis , ducimus iure praesentium in similique cumque , beatae quasi
        tempora deserunt architecto autem error laudantium repellendus maxime
        quas maxime ducimus labore reprehenderit ipsam nemo dolore , quaerat
    rem voluptatum nihil quos . Eius minima voluptates eum perspiciatis
    id , voluptate fuga nihil , odit blanditiis exercitationem , earum
    nesciunt ! Labore , ullam minima ab
    repellat sint saepe ut cumque dignissimos qui soluta totam , alias id
    quis repudiandae ? Minima quas voluptates nobis animi odit neque
    reprehenderit provident ullam ! Numquam , tempore eveniet dolorem iusto
    voluptas culpa sed accusamus , <br> <br>
    nesciunt
    doloremque hic incidunt reprehenderit vero ! Numquam illo atque
    assumenda quod . Consequuntur , dolore . Veniam eaque aperiam
    accusantium ex architecto quo in est unde , mollitia voluptatibus sed
    non quas optio facilis hic ullam ,
    neque voluptates aspernatur eos natus doloribus . Perferendis ab alias
    sit est ? Aliquam vel eum alias . Mollitia molestiae cupiditate
    distinctio debitis ea saepe ipsum aut asperiores , vel deleniti , ullam
    delectus ex officia , quisquam
    repudiandae ipsam obcaecati ? Aliquam voluptas exercitationem quia
    mollitia ? Vero blanditiis odio consequatur neque accusantium aut ,
    suscipit accusamus ullam , dicta quasi a doloremque sit ab possimus
    totam repudiandae repellat maxime
    architecto ? Animi nesciunt architecto blanditiis velit consequatur
    optio nisi maiores , molestiae esse necessitatibus eligendi alias
    praesentium , vel delectus quos eaque accusantium . Earum at nulla ut
    non quas optio facilis hic ullam ,
    neque voluptates aspernatur eos natus doloribus . Perferendis ab alias
    sit est ? Aliquam vel eum alias . Mollitia molestiae cupiditate
    distinctio debitis ea saepe ipsum aut asperiores , vel deleniti , ullam
    delectus ex officia , quisquam
    repudiandae ipsam obcaecati ? Aliquam voluptas exercitationem quia
    mollitia ? Vero blanditiis odio consequatur neque accusantium aut ,
    suscipit accusamus ullam , dicta quasi a doloremque sit ab possimus
    totam repudiandae repellat maxime
    architecto ? Animi nesciunt architecto blanditiis velit consequatur
    optio nisi maiores , molestiae esse necessitatibus eligendi alias
    praesentium , vel delectus quos eaque accusantium . Earum at nulla ut
    official
    </p>
    <a href="#"> Read More </a>
     </div > -->
    <div class = " footer - col " >
    </div >
    </section >
        


    <footer>
        <div class="footer-col">
        <h3>Terms and Conditions</h3>
        <BR>
        <p> By registering and creating an account on any of our websites (e.g. as a volunteer, an employer coordinator, a teacher, a partner or a governor recruiter on behalf of a school, college or other similar institution) for Inspiring the Future, Inspiring Governance, Inspiring FE Governance or one our other programmes, you are agreeing to these Terms in addition to any other terms and conditions that may apply to you, including our Programme Terms and Conditions.</p>
    </div>
    <br>
    
    <!--<div class="footer-col">
    <h3>Individual agreements</h3>
    <p> From time to time, we may enter into a separate written agreement with you. In the event of any inconsistency between the terms of that agreement and these Terms, the terms of that separate agreement shall prevail.</p>
    </div>
    <div class="footer-col">
    <h3>Accessing our sites</h3>
    <p> Access to our sites is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our sites without notice. We shall not be liable if for any reason our sites are unavailable at any time or for any period.</p>
    </div>-->
    <div class="footer-col">
        <h3>User Content</h3>
        <BR>
        <p>In respect of any and all material (including data, photographs, images, sound and text) that you send to us or otherwise contribute to our sites (the User Content), you represent and warrant that you are entitled to grant the licence granted to us. </p>
        </div>
        <br>
        
        <div class="footer-col">
        <h3>Contact Us</h3>
        <br>
        <p><strong>Gmail-</strong>swarlipi28@gmail.com</p>
        <BR>
      <!--<div class="subscribe">
        <input type="text" placeholder="Your Email address">
        <a href="#" class="yellow">SUBSCRIBE</a>
        </div>-->  
        <br>
        <div class="copyright">
        <!-- <p></p> -->
        <div class="pro-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
        </div>
        </div>
        </footer>
</body>

<script src="./index.js"></script>
</html>