<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Hamburger Navbar</title>
    
    
</script>
</head>

<body>
    
    <div id="google_translate_element" style="z-index: 100;"></div> 
   
    <header class="header" >
        <nav class="navbar">
            <img src="../public/logo.jpg" alt="logo" width="90px" height="60px">
            <!-- <iframe src='https://my.spline.design/daftpunkcopy-20ba7c63add0071856a77388dc3d262a/' frameborder='0' width='90px' height='60px'></iframe> -->
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/volunteer" class="nav-link">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a href="/courses" class="nav-link">Courses</a>
                </li>
                <li class="nav-item">
                    <a href="/opportunity" class="nav-link">Opportunities</a>
                </li>
                <li class="nav-item">
                    <a href="/team" class="nav-link">Our Team</a>
                </li>
                <li class="nav-item">
                    <a style="padding-right: 50px;" href="/admin" class="nav-link">Admin</a>
                </li>
                <li>
                    <script async src="https://cse.google.com/cse.js?cx=ef2cca96e8620803f"></script>
                     <div class="gcse-search"></div>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <section style="background-image: url('https://source.unsplash.com/2000x1100/?education'); "   id="home"> 
        <h2 style=" font-size: 50px; background-color: aliceblue; color: black;">Enhance Your Future</h2>
        <br>
        <p style=" background-color: aliceblue; color: black;">The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education.
        </p><br><br> 
           <p style=" background-color: aliceblue; color: black;"> Martin Luther King, Jr.</p>
       
        <div class="btn">
            <a class="blue" href="/volunteer"> Connect With Us</a>
            <a class="yellow" href="/courses"> Visit Courses</a>
        </div>
    </section>


    
    <section id="features">
    <h1 style="font-size: 30px;">Features</h1>
    <p style="font-size: 20px;">An investment in knowledge pays the best interest.</p>
    <br>
    <div class="fea-base">
        <div class="fea-box">
            <i class="fas fa-graduation-cap"></i>
            <h3 style="font-size: 20px;">Scholarship Facility</h3>
            <p style="font-size: 15px;">Scholarship is to be created not by compulsion, but by awakening a pure interest in knowledge.</p>
        </div>


        <div class="fea-box">
            <i class="fas fa-award"></i>
            <h3 style="font-size: 20px;">Mentorship</h3>
            <p style="font-size: 15px;">A mentor is someone who sees more talent and ability within you, than you see in yourself, and helps bring it out of you.</p>
        </div>

        <div class="fea-box">
            <i class="fas fa-graduation-cap"></i>
            <h3 style="font-size: 20px;">Exclusive Opportunities Only for Girls!</h3>
            <p style="font-size: 15px;">Today is the opportunity to build the tomorrow you want!</p>
        </div>
    </div>
    </section>




<!-- courses -->

<section id="course">
    <h1 style="font-size: 30px;">Our Popular Courses</h1>
    <!-- <p>Replenish man have thing gathering lights yeilding shall you</p> -->
    <div class="course-box">

        <div class="courses">
            <img src="../public/images/engineering.jpg" alt="">
            <div class="details">
                <!-- <span>Updated 03/05/22</span> -->
                <h6>JEE (MAINS/ADVANCED)/ BITSAT/ WBJEE</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <span>(239)</span> -->
                </div>
            </div>
            <div class="cost">
                FREE
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/medical.jpg" alt="">
            <div class="details">
                <!-- <span>Updated 03/05/22</span> -->
                <h6>NEET/AFMC</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <span>(239)</span> -->
                </div>
            </div>
            <div class="cost">
                FREE
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/business finance.jpg" alt="">
            <div class="details">
                <!-- <span>Updated 03/05/22</span> -->
                <h6>SSC/CAT/CA/CS</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <span>(239)</span> -->
                </div>
            </div>
            <div class="cost">
                FREE
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/LAW.jpg" alt="">
            <div class="details">
                <!-- <span>Updated 03/05/22</span> -->
                <h6>CLAT/CUET/LSAT</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <span>(239)</span> -->
                </div>
            </div>
            <div class="cost">
                FREE
            </div>
        </div>

        <div class="courses">
            <img  src="../public/images/upsc.webp" alt="">
            <div class="details">
                <!-- <span>Updated 03/05/22</span> -->
                <h6>UPSC</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <span>(239)</span> -->
                </div>
            </div>
            <div class="cost">
                FREE
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/NFT.jpg" alt="">
            <div class="details">
                <!-- <span>Updated 03/05/22</span> -->
                <h6>NFT/ GRAPHICS/ DIGITAL DESIGNING</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <!-- <span>(239)</span> -->
                </div>
            </div>
            <div class="cost">
                FREE
            </div>
        </div>
    </div>
</section>
<!-- Registration -->
<section id="registration">
    <div class="reminder">
    <p>Get 100 Online Courses for Free</p>
    <h1>Register To Get It</h1>
    <div class="time">
<div class="date">
18 <br> Days
</div>
<div class="date">
23 <br> Hours
</div>
<div class="date">
06 <br> Minutes
</div>
<div class="date">
58 <br> Seconds
</div>
</div>
</div>
<div class="form">
<h3>Create Free Account NOW!</h3>
<input type="text" placeholder="Name" name="" id="">
<input type="text" placeholder="Eamil Address" name="" id="">
<input type="text" placeholder="Phone NUmber" name="" id="">
<div class="btn">
<a class="blue" href="#">Submit Form</a>
</div>
</div>
</section>


<iframe style="margin-left: 350px;" width="800px" height="300px" src='https://webchat.botframework.com/embed/education-2?s=756AGhfzIBM.ik0GlHlpK_2UwJzPCXhspYL4f1XevF-nNwwfJ9hk0gI'></iframe>



<l-- Profiles -->
<section id="experts">
<h1 style="font-size: 30px;">Team Members</h1>
<!-- <p>Replenish man have thing gathering lights yielding shall you </p> -->
<div class="expert-box">
<div class="profile">
<img src="../public/images/syankita1.jpeg" alt="">
<h6 style="font-size: 15px;">Syankita</h6>
<!-- <p>Python & Algorithm Expert </p> -->
<!-- <div class="pro-links">
<i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-linkedin-in"></i>
</div> -->
</div>
<div class="profile">
    <img src="../public/images/ishika.jpeg" alt="">
    <h6 style="font-size: 15px;">Ishika Jha</h6>
    <!-- <p>Python & Algorithm Expert </p> -->
    <!-- <div class="pro-links">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    </div> -->
    </div>
    <div class="profile">
        <img src="../public/images/priya1.jpeg" alt="">
        <h6 style="font-size: 15px;">Priya Mishra</h6>
        <!-- <p>Python & Algorithm Expert </p> -->
        <!-- <div class="pro-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
        </div> -->
        </div>
        
</div>
</section>
<br><br><br><br>


<!-- <div class="container">
    <div class="col-md-6" style="margin-top: 50px;">
         <div class="form-group">
           <label for="exampleInputAadharCard">Aadhar Card No.</label>
           <input type="text" class="form-control" id="exampleInputAadharCard" placeholder="Enter Your Aadhar Card No." name="exampleInputAadharCard">
           <small id="message" class="form-text text-muted"></small>
         </div>
         <button type="button" class="btn btn-primary" onclick="verify()">Verify</button>
    </div>
 </div>
 <script type="text/javascript">
 // multiplication table
 const d = [
     [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
     [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
     [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
     [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
     [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
     [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
     [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
     [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
     [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
     [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
 ]
 
 // permutation table
 const p = [
     [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
     [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
     [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
     [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
     [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
     [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
     [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
     [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
 ]
 
 // validates Aadhar number received as string
 function validate(aadharNumber) {
     let c = 0
     let invertedArray = aadharNumber.split('').map(Number).reverse()
 
     invertedArray.forEach((val, i) => {
         c = d[c][p[(i % 8)][val]]
     })
 
     return (c === 0)
 }
 
 function verify() {
    var message = document.getElementById("message");
    var aadharNo = document.getElementById("exampleInputAadharCard").value;
    if(validate(aadharNo)) {
       message.innerHTML = 'Your aadhar card no. valid';
    } else {
       message.innerHTML = 'Your aadhar card no. not valid';
    }
 }
 </script>
 </div> -->



 <footer>
    <div class="footer-col">
    <h3>Terms and Conditions</h3>
    <BR>
    <p> By registering and creating an account on any of our websites (e.g. as a volunteer, an employer coordinator, a teacher, a partner or a governor recruiter on behalf of a school, college or other similar institution) for Inspiring the Future, Inspiring Governance, Inspiring FE Governance or one our other programmes, you are agreeing to these Terms in addition to any other terms and conditions that may apply to you, including our Programme Terms and Conditions.</p>
</div>
<br>

<!--<div class="footer-col">
<h3>Individual agreements</h3>
<p> From time to time, we may enter into a separate written agreement with you. In the event of any inconsistency between the terms of that agreement and these Terms, the terms of that separate agreement shall prevail.</p>
</div>
<div class="footer-col">
<h3>Accessing our sites</h3>
<p> Access to our sites is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our sites without notice. We shall not be liable if for any reason our sites are unavailable at any time or for any period.</p>
</div>-->
<div class="footer-col">
    <h3>User Content</h3>
    <BR>
    <p>In respect of any and all material (including data, photographs, images, sound and text) that you send to us or otherwise contribute to our sites (the User Content), you represent and warrant that you are entitled to grant the licence granted to us. </p>
    </div>
    <br>
    
    <div class="footer-col">
    <h3>Contact Us</h3>
    <br>
    <p><strong>Gmail-</strong>swarlipi28@gmail.com</p>
    <BR>
  <!--<div class="subscribe">
    <input type="text" placeholder="Your Email address">
    <a href="#" class="yellow">SUBSCRIBE</a>
    </div>-->  
    <br>
    <div class="copyright">
    <!-- <p></p> -->
    <div class="pro-links">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    </div>
    </div>
    </footer>
    <script defer type="text/javascript"> 
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 
                'google_translate_element'
            ); 
        } 
    </script>  
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

<!-- <script src="../public/index.js"></script> -->

</html>